// Auto genetated file
[
{
"name" : "x25519_64 - sparc_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64" 
}
,
{
"name" : "x25519_64 - sparc_32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64" 
}
,
{
"name" : "x25519_64 - x86_32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "x86_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64" 
}
,
{
"name" : "x25519_64 - x86_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "x86_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64" 
}
,
{
"name" : "x25519_64 - x86_16" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "x86_16" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64" 
}
,
{
"name" : "x25519_64 - armeb_eabi" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "armeb_eabi" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64" 
}
,
{
"name" : "x25519_64 - arm_eabi" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "arm_eabi" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64" 
}
,
{
"name" : "x25519_64 - aarch64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "aarch64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64" 
}
,
{
"name" : "x25519_64 - aarch64eb" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "aarch64eb" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64" 
}
,
{
"name" : "x25519_64 - rv64ifdq" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "rv64ifdq" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64" 
}
,
{
"name" : "x25519_64 - rv32ifdq" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "rv32ifdq" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64" 
}
,
{
"name" : "x25519_64 - mips_o32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mips_o32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64" 
}
,
{
"name" : "x25519_64 - mips_n32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mips_n32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64" 
}
,
{
"name" : "x25519_64 - mips_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mips_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64" 
}
,
{
"name" : "x25519_64 - mipsel_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mipsel_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64" 
}
,
{
"name" : "x25519_64 - mipsel_n32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mipsel_n32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64" 
}
,
{
"name" : "x25519_64 - apple_ppc_32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "apple_ppc_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64" 
}
,
{
"name" : "x25519_64_Slow - sparc_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64_Slow" 
}
,
{
"name" : "x25519_64_Slow - sparc_32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64_Slow" 
}
,
{
"name" : "x25519_64_Slow - x86_32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "x86_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64_Slow" 
}
,
{
"name" : "x25519_64_Slow - x86_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "x86_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64_Slow" 
}
,
{
"name" : "x25519_64_Slow - x86_16" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "x86_16" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64_Slow" 
}
,
{
"name" : "x25519_64_Slow - armeb_eabi" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "armeb_eabi" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64_Slow" 
}
,
{
"name" : "x25519_64_Slow - arm_eabi" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "arm_eabi" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64_Slow" 
}
,
{
"name" : "x25519_64_Slow - aarch64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "aarch64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64_Slow" 
}
,
{
"name" : "x25519_64_Slow - aarch64eb" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "aarch64eb" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64_Slow" 
}
,
{
"name" : "x25519_64_Slow - rv64ifdq" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "rv64ifdq" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64_Slow" 
}
,
{
"name" : "x25519_64_Slow - rv32ifdq" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "rv32ifdq" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64_Slow" 
}
,
{
"name" : "x25519_64_Slow - mips_o32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mips_o32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64_Slow" 
}
,
{
"name" : "x25519_64_Slow - mips_n32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mips_n32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64_Slow" 
}
,
{
"name" : "x25519_64_Slow - mips_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mips_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64_Slow" 
}
,
{
"name" : "x25519_64_Slow - mipsel_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mipsel_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64_Slow" 
}
,
{
"name" : "x25519_64_Slow - mipsel_n32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mipsel_n32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64_Slow" 
}
,
{
"name" : "x25519_64_Slow - apple_ppc_32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "apple_ppc_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_64_Slow" 
}
,
{
"name" : "x25519_51 - sparc_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_51" 
}
,
{
"name" : "x25519_51 - sparc_32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_51" 
}
,
{
"name" : "x25519_51 - x86_32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "x86_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_51" 
}
,
{
"name" : "x25519_51 - x86_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "x86_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_51" 
}
,
{
"name" : "x25519_51 - x86_16" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "x86_16" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_51" 
}
,
{
"name" : "x25519_51 - armeb_eabi" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "armeb_eabi" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_51" 
}
,
{
"name" : "x25519_51 - arm_eabi" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "arm_eabi" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_51" 
}
,
{
"name" : "x25519_51 - aarch64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "aarch64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_51" 
}
,
{
"name" : "x25519_51 - aarch64eb" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "aarch64eb" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_51" 
}
,
{
"name" : "x25519_51 - rv64ifdq" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "rv64ifdq" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_51" 
}
,
{
"name" : "x25519_51 - rv32ifdq" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "rv32ifdq" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_51" 
}
,
{
"name" : "x25519_51 - mips_o32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mips_o32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_51" 
}
,
{
"name" : "x25519_51 - mips_n32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mips_n32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_51" 
}
,
{
"name" : "x25519_51 - mips_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mips_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_51" 
}
,
{
"name" : "x25519_51 - mipsel_64" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mipsel_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_51" 
}
,
{
"name" : "x25519_51 - mipsel_n32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "mipsel_n32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_51" 
}
,
{
"name" : "x25519_51 - apple_ppc_32" ,
"files" : "all" ,
"cpp-extra-args" : "-I. -I kremlib/dist/minimal" ,
"machdep" : "apple_ppc_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "x25519_51" 
}
]
